In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [4]:
df = pd.read_csv(r"D:\Praveen_Chandran\ML training dataset\homeprices _multiple.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [7]:
median_bedrooms = df.bedrooms.median()

In [12]:
df['bedrooms'] = df['bedrooms'].fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [ ]:
plt.scatter()

In [14]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [22]:
m1,m2,m3 = reg.coef_

In [23]:
b = reg.intercept_

In [19]:
reg.predict(pd.DataFrame([[3000,3,20]],columns = ['area','bedrooms','age']))

array([563042.60975297])

In [25]:
y = m1*3000 + m2*3 + m3*20 + b
y

563042.6097529662